@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,800&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Off-White: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Off-White);
  min-height: 100vh;
  font-weight: 600;
  font-style: italic;
  font-size: 32px;
  line-height: 0.4;
}

input {
  width: 90px;
  height: 25px;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid var(--Off-White);
  outline: none;
  font-size: 32px;
  font-weight: 600;
}

input::placeholder {
  color: var(--Light-grey);
}

input:focus {
  border: 1px solid var(--Purple);
}

.container {
  background-color: var(--White);
  width: 550px;
  max-width: 100%;
  padding: 35px;
  position: relative;
  border-radius: 15px;
  border-bottom-right-radius: 150px;
}

.error-label {
  color: var(--Light-red);
  font-size: 0.65rem;
  font-style: oblique;
  margin-top: 10px;
}

.submit {
  width: 50px;
  height: 50px;
  padding: 35px;
  display: flex;
  background-color: var(--Purple);
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 30%;
  transform: translateY(-50%);
  cursor: pointer;
}

.type-m {
  font-size: 0.7rem;
  color: var(--Smokey-grey);
  font-style: normal;
  position: relative;
  top: -10px;
  letter-spacing: 3px;
}

.submit:hover {
  background-color: var(--Off-black);
}

.output-flex span {
  font-size: 2.75rem;
  color: var(--Purple);
  font-style: italic;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.input-flex {
  display: flex;
  margin-left: -10px;
  border-bottom: 2px solid var(--Off-White);
  padding-bottom: 30px;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Off-black);
  transform: translateY(30px);
  font-size: 0.8rem;
}

.promo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.promo img {
  transform: translateY(20px);
}

@media(max-width: 770px) {
  input {
    width: 80%;
  }

  .output-flex span {
    font-size: 1.75rem;
  }

  .submit {
    width: 5%;
    height: 5%;
    right: 40%;
    top: 120px;
  }

  .submit img {
    transform: scale(0.5);
  }
}